<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="cards.css">
</head>
<body>
	<div class="cards">
	      <ul class="pricing">
	        <li class="raglika">Standart</li>
	        <li class="bottom-bar"><p class="bold">1-1,5 hours</p><p>outdor/cafe</p></li>
	        <li class="bottom-bar"><p class="bold">10 photos</p><p>with professional</p><p>correction</p></li>
	        <li class="bottom-bar"><p class="bold">150 LV</p></li>
	        <li><button class="btn">buy this one</button></li>
	      </ul>
	</div>
	<div class="cards">
	      <ul class="pricing">
	        <li class="raglika">Lovestory</li>
	        <li class="bottom-bar"><p class="bold">1,5 hours</p><p>outdor/cafe</p></li>
	        <li class="bottom-bar"><p class="bold">10 photos</p><p>with professional</p><p>correction</p></li>
	        <li class="bottom-bar"><p class="bold">185 LV</p></li>
	        <li><button class="btn">buy this one</button></li>
	      </ul>
	</div>
	<div class="cards">
	      <ul class="pricing maximum">
	        <li class="raglika">Maximum</li>
	        <li class="bottom-bar"><p class="bold">2-3 hours</p><p>outdor/cafe</p></li>
	        <li class="bottom-bar"><p class="bold">25 photos</p><p>with professional</p><p>correction</p></li>
	        <li class="bottom-bar"><p class="bold">250 LV</p></li>
	        <li><button class="btn">buy this one</button></li>
	      </ul>
  	</div>
</body>
</html>
