<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="cards.css">
</head>
<body>
	<div class="cards">
	    <div class="card shadow">
	      <ul>
	        <li class="pack">Standart</li>
	        <li class="bottom-bar"><p>1-1,5 hours</p><br>outdor/cafe</li>
	        <li class="bottom-bar"><span>10 photos</span><br>with professional<br>correction</li>
	        <li class="bottom-bar"><span>150 lv</span></li>
	        <li><button class="btn">buy this one</button></li>
	      </ul>
	    </div>
  	</div>
</body>
</html>
