/*body {
  display: flex;
  justify-content: center;
  min-height: 0;
}*/

.cards-wrapper {
  width: 80%;
  font-size: 1vw;
  margin: 10vh 0;
}

.cards {
  float: left;
  width: 27%;
  margin: 0 3.15%;
  overflow: hidden;
  white-space: nowrap;
  color: #54311C;
}

.bold {
  font-weight: bold;
}

.pricing {
  border: 1px solid #E1C190;
  border-radius: 36px;
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
}

.pricing .raglika {
  font-size: 2vw;
}

.cards li {
  margin: 50px;
}

.btn {
  font-size: 1vw;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  background: #E1C190;
  border-radius: 20.5px;
  border: none;
}

.maximum {
  background: #E1C190;
  color: #fff;
}

.maximum .raglika {
  color: #fff;
}

.maximum .btn {
  color: #54311C;
  background: #fff;
}

@media only screen and (max-width: 600px) {
  .cards {
    width: 100%;
  }

  .cards .raglika {
    font-size: 5vw;
  }

/*  .cards li {
    margin: 50px;
  }
*/
  .price-text {
   font-size: 3vw;
  }
}