<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="line.css">
</head>
<body>
	<div class="container-line">
		<div class="line left"></div>
		<div class="section-title">
			<p class="line-title">Portfolio</p>
			<p class="line-sub">check out my latest works.</p>
		</div>
		<div class="line right"></div>
	</div>

	<div class="titlo">
		<div class="inner">
			<div class="line-title">Portfolio</div>
			<div class="line-sub">check out my latest works.</div>
		</div>
	</div>
</body>
</html>