<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="main_title.css">
</head>
<body>
	<nav id="nav">
		<div class="nava">
	        <a href="#home">about me</a>
	        <a href="#about">portfolio</a>
	        <a href="#projects">prices</a>
	        <a href="#contact">contact</a>
	        <a href="#contact" class="book-me">book me</a>
    	</div>
    </nav>
	<section id="first">
	  <div>
	    <p id="title">Arina Miroshina</p>
	    <p class="small">photography</p>
	  </div>
	</section>
	<section id="second">
	</section>
	<footer>
		<div class="fcont">
			<div id="ftitle">
		    	<p id="arina">Arina Miroshina</p>
		    	<p>photography</p>
		  	</div>
			<div>
				<ul>
				  <li><a class="fa" href="#">about me</a></li>
				  <li><a class="fa" href="#">portfolio</a></li>
				  <li><a class="fa" href="#">prices</a></li>
				  <li><a class="fa" href="#">contact</a></li>
				</ul>
			</div>
			<div>
				<ul>
				  <li><a class="fa" href="#">instagram</a></li>
				  <li><a class="fa" href="#">facebook</a></li>
				  <li><a class="fa" href="#">vk.com</a></li>
				  <li><a class="fa" href="#">sentinel@google.com</a></li>
				  <li><a class="fa" href="#">+34939844</a></li>
				</ul>
			</div>
		</div>
		<div class="frights">all rights reserved 2022</div>
	</footer>
</body>
</html>