<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="more.css">
</head>
<body>
  <div class="show-container">
    <div class="box">
        <div class="bottom-right">
          <p class="raglika descriptor">Object photography</p>
          <p class="showmore">show more</p>
        </div>
    </div>
      <div class="box">
          <div class="bottom-right">
            <p class="raglika descriptor">Object photography</p>
            <p class="showmore">show more</p>
          </div>
    </div>
    <div class="box">
        <div class="bottom-right">
          <p class="raglika descriptor">Object photography</p>
          <p class="showmore">show more</p>
        </div>
    </div>
    <div class="box">
        <div class="bottom-right">
          <p class="raglika descriptor">Object photography</p>
          <p class="showmore">show more</p>
        </div>
    </div>
  </div>

  <div class='one'>
   
  <div class='two'></test>
    
</div>
</body>
</html>